.containerInput {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.containerInput label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #222;
  padding: 5px 0;
}

.containerInput input,
.containerInput select {
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #222;
  border-radius: 2px;
  font-family: "Imprima";
}

.containerInput input::placeholder,
.containerInput select::placeholder {
  font-family: "Imprima";
}
