.containerTable {
  margin-top: 30px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.actions {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.search {
  flex: 1;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 8px;
}

.search input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
}

.search input::placeholder {
  font-family: "Imprima", sans-serif;
  font-size: 16px;
}

.actionButton {
  padding: 10px 15px;
  width: 200px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  font-family: "Imprima", sans-serif;
  cursor: pointer;
}

.containerTable table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

.containerTable table tr {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.containerTable table tr:nth-child(even) {
  background-color: #a8a8a833;
}

.containerTable table tr:nth-child(odd) {
  background-color: var(--info);
}

.containerTable table td {
  padding: 5px 10px;
}

.containerTable table td:nth-child(2) {
  width: 150px;
}

.containerTable table td:nth-child(3),
.containerTable table td:nth-child(4) {
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.containerTable table td svg {
  cursor: pointer;
}

.containerMateriaPrimaInfo {
  width: 100%;
  padding: 30px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.materiaPrimaInfoCard {
  background: #fff;
  width: 95%;
  padding: 80px 10px;
  border: 1px solid #222;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.cardFooterMateriaPrimaDelete {
  padding: 0 30px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.messageAlert {
  padding: 15px 0 10px;
  color: red;
}

.cardFooterMateriaPrimaDelete .btnDelete {
  border: 1px solid red;
  color: red;
}

.cardFooterMateriaPrimaDelete .btnDelete:hover {
  background: red;
  color: #fff;
}

.cardFooterMateriaPrimaDelete .btnCancel {
  border: 1px solid #222;
  color: #222;
}

.btnDelete {
  text-align: end;
}