* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --azul-escuro: #315d9f;
  --azul-claro: #2595d1;
  --body: #f8f8f8;
  --info: #bbbbbb;
}

body {
  font-family: "Imprima", sans-serif;
}

.container-page {
  width: 100%;
  display: flex;
  background: var(--body);
}

main {
  width: 100%;
  height: 100%;
}

.header-page {
  padding: 0 30px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
